.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.modal-background {
    position: absolute;
    inset: 0;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 50;
    width: 100%;
    max-width: 400px;
}
